* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: black;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #0a0a0b;
}

header {
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
}

nav ul {
  display: flex;
  gap: 1rem;
  font-size: 1rem;
  list-style: none;
}

ul a {
  color: white;
  text-decoration: none;
}

ul a:hover {
  color: blue;
}

.container_btn_start {
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
}

.start_btn:hover {
  border-radius: 50%;
  box-shadow: 0 0 10px 0px #8cd5ba;
  cursor: pointer;
}

.start_btn {
  width: 400px;
  height: 100%;
  position: relative;
}

.c1 {
  width: 100%;
  height: 100%;
  border: 2px #02db8a solid;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.c2 {
  width: 70%;
  height: 70%;
  border: 2px #099260 solid;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.c2 > div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 100%;
  width: 100%;
  font-size: 0.8rem;
}
